// Десктопная версия мобильного меню

.main-header {
  &--blue {
    background: $blue;
    position: relative;
    z-index: 3;
  }

  &-wrapper {
    max-width: $desktop;
    margin: 0 auto;
    height: 60px;

    @include clearfix-micro();
  }

  &--logo {
    float: left;
    margin-left: 60px;

    &Icon {
      display: inline-block;
      height: 46px;
      float: left;
      line-height: 60px;
      padding-top: 7px;
    }

  }

  &--icons {
    float: right;
    margin-right: 42px;

    .top-navigation {
      float: right;

      .item {
        display: inline-block;

        &-link {
          color: #fff;
          text-decoration: none;
          font-family: $medium;
          font-size: 0.875em;
          position: relative;

          &--hover:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid #fff;
          }

          &--border:hover {
            &:before {
              content: '';
              position: absolute;
              border: 2px solid #fff;
              height: 43px;
              width: 43px;
              border-radius: 50%;
              top: -24px;
              left: -14px;
            }
          }


          &--search {
            margin-right: 34px;
          }

          img {
            display: inline-block;
            height: 24px;
            width: 18px;
          }
        }
        &-text {
          text-transform: uppercase;
          margin-right: 47px;
          position: relative;
          top: -4px;
        }
      }
    }

  }

  &--description {
    margin: 0;
    display: inline-block;
    color: #fff;
    font-family: "roadradio-thin";
    max-width: 170px;
    font-size: 0.875em;
    line-height: 1.35em;
    padding-top: 12px;
    margin-left: 16px;
  }

}

.main-menu {
  background: #fff;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;

  &--wrapper {
    background: #fff;
    position: relative;
    z-index: 2;
    box-shadow: 0 -10px 42px rgba(0, 0, 0, 0.5);
  }

  &--box {
    position: absolute;
    top: -20px;
  }

  &--drop {
    position: relative;
    //border: 20px solid transparent;
    padding: 0;
    display: none;
    top: 75px;
    background: #fff;
    z-index: 10;
    box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.3);

    &:before {
      content: '';
      left: 50%;
      margin-left: -11px;
      position: absolute;
      top: -16px;
      border: 8px solid transparent;
      border-bottom: 8px solid #fff;
      z-index: 10;
    }

    .item-drop {
      text-align: left;
      list-style: none;

      .item-link--drop {
        text-decoration: none;
        color: $dark-blue;
        display: inline-block;
        width: 232px;
        height: 43px;
        padding-left: 20px;
        line-height: 43px;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  .item {
    display: inline-block;
    font-size: 0.85em;
    color: $dark-blue;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 5;

    &:hover {
      background: #eaedef;
    }

    &:hover .main-menu--drop{
      display: block;
    }

    &-link {
      text-decoration: none;
      color: $dark-blue;
      display: inline-block;
      width: 252px;
      height: 55px;
      line-height: 55px;
      z-index: 5;
      position: relative;

      &:hover {
        background: #eaedef;
        color: $blue;
      }
    }
  }

}


// Глобальный wrapper

.wrapper {
  //max-width: 1280px;
  //margin: 0 auto;
}
